@model PlanificatorSali.Models.Sala
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<form asp-controller="Calendar" asp-action="Index" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="row">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label asp-for="Denumire" class="control-label"></label>
                <select asp-for="salaID"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.listofitems,"salaID", "Denumire"))">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <input id="Submit1" type="submit" value="submit" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                @if (ViewBag.SelectedValue != null)
                {
                    <text>Selected Country ID: </text> @ViewBag.SelectedValue;
                }
            </div>
        </div>
    </div>
</form>
}  